@media screen and (max-width: 530px) {

   body {
  margin: 0;
}

main, section, footer {
  margin: 0 5%;
}

.menu-title a {
    margin-left: 0;
    font-size: 60%;
    
}

.menu-title {
    grid-column: 2 / span 2;
}

.small-title {
    font-size: 40%;
}

    .menubar {
        display: none;
    }

    header {
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
    }

    .menu {
        margin-left: 5%;
        min-width: 100%;
        max-width: 100%;
        margin-right: 5%;
        /* justify-self: center; */
    }

    .arrow {
        display: none;
    }

    header h1 {
        font-size: 165%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 120%;
    }

    .page-name {
        display: none;
    }

    .plus-sign, .x-sign {
        display: block;
        align-self: end;
        margin-bottom: 10%;
        justify-self: right;
    }

    .info {
        max-width: 80%;
    }

    .menubar {
        position: inherit;
        max-width: 50%;
        justify-self: right;
        margin-right: 10%;
        /* display: flex; */
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .menu-button {
        padding: 5%;
       background-color: #1C2543;
       border: white solid 1px;
       margin: 1.5% 0 1.5% 0;
    }

    .menu-button a {
         /* border: white 1px solid; */
         padding: 5%;
    }

    .data-viz-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    footer {
        margin: 0 auto;
    }

    .dropdown-list.active li {
        margin: 5% 0 5% 0;
        border: white 1px solid;
        padding: 2.5%;
    }

    .data-viz-grid {
        max-width: 300px;
    }

    .barchart h6 {
        font-size: 85% !important;
    }

    .imagewidget h2 {
        font-size: 150%;
    }

    .about-the-author {
        display: block;
    }

    .about-the-author img {
        display: block;
        margin: 0 auto;
        margin-bottom: 2.5%;
    }

    .widget {
        display: block;
         margin: 10% 2.5% 10% 2.5%;
    }

    .imagewidget {
        grid-template-columns: 1fr;
        margin: 10% 2.5% 10% 2.5%;
    }

    .imagewidget img {
        display: none
    }

    .special-thanks, .about-the-author {
        border: white solid 2px
    }

    .org-div {
        display: block;
        text-align: center;
    }
}
