.orgs-box {
    margin: 25% 0 25% 0;
}

.org-div {
    display: grid;
    grid-template-rows: .5fr 1fr;
    grid-template-columns: 1fr 3fr;
    height: 25%;
    margin: 10% 0 10% 0;
}

.org-div a {
    grid-row: 1 / span 2;
    grid-column: 1;
    width: 100%;
    border-radius: 100%;
    align-self: center;
}

.org-div a img {
    width: 95%;
    border-radius: 100%;
}

.org-div h3 {
    grid-row: 1;
    grid-column: 2;
    margin-left: 2.5%;
}

.org-div ul {
    grid-row: 2;
    grid-column: 2;
    color: white;
    margin-left: 2.5%;
}